astroid
autopep8
certifi
charset-normalizer
fastapi
idna
isort
joblib
lazy-object-proxy
lightgbm
matplotlib
mccabe
numpy
pandas
Pillow
platformdirs
pycodestyle
pylint
python-dateutil
pytz
requests
scikit-learn
scipy
setuptools
six
threadpoolctl
toml
typing-extensions
urllib3
uvicorn[standard]
wrapt
